################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplicationSkynet/FileContentIndex/49f288bb-bc5b-4ab9-aba8-f5be976dc116.vsidx
